<script>

	import { createEventDispatcher } from 'svelte';
	import { stores } from '@sapper/app';
	import { post, get } from 'utils';
	import { rolesAsArray as roles } from 'roles';

	import Dropdown from '../Dropdown.svelte';

	export let admin;
	export let user;

	$:	userRoles = roles.filter(role => {
			for (let userRole of user.roles) {
				if (userRole.name === role.name) return;
			}
			return role;
		})

	let active = false,
		dispatch = createEventDispatcher()

	const { session } = stores();

	async function addRole(elem) {
		const element = elem.srcElement;
		const roleInfo = element.getAttribute('roleInfo');
		const user = roleInfo.split(':')[0];
		const role = roleInfo.split(':')[1];
		if (confirm(`Add role '${role}' to ${user}?`)) {
			post('api/roles/addRole', { user, role, apiToken: JSON.parse($session.user).apiToken })
				.then(async (response) => {
					active = false;
					dispatch('roleAdded', { user, role });
				})
		}
	}

</script>

<Dropdown {active}>

    <div slot="dropdown-trigger" on:click={async () => active = !active}>
		<span class="icon is-small">
			<i class="fas fa-plus-circle"></i>
		</span>
	</div>

	{#if userRoles.length === 0}
		<span>This user has already every roles available!</span>
	{:else}
		{#each userRoles as role}
			<a 
				class="button is-primary"
				href="/addRole"
				on:click|preventDefault={addRole}
				style="margin-left: 5px;"
				roleInfo="{user.login}:{role.name}"

			>{role.name}</a>
		{/each}
	{/if}

</Dropdown>