<script>

	import { stores } from '@sapper/app';
	import { onMount } from 'svelte';
	import { post } from 'utils'

	const { session } = stores();

	onMount(async () => {
		setInterval(async () => {
			post('api/users/checkData')
				.then(user => {
					$session.user = JSON.stringify(user);
				});
		}, 2000)
	})

</script>

<svelte:head>
	<title>Telliblog</title>
</svelte:head>

<main>
	<slot></slot>
</main>