<script>
	import MainPage from '../components/pages/MainPage.svelte';
</script>

<MainPage class="is-primary is-medium">
	<div class="container has-text-centered">
		<h1 class="title"><strong>Telliblog</strong></h1>
		<h1 class="subtitle">Make your own blog for your projects</h1>
	</div>
</MainPage>

<div class="section">
	<div class="container has-text-centered">
		<div class="columns">
			<div class="column">
				<h1 class="title">Easy</h1>
				<h1 class="subtitle">Create your blog in 2 clicks</h1>
			</div>
			<div class="column">
				<h1 class="title">Fast</h1>
			</div>
			<div class="column">
				<h1 class="title">Powerful</h1>
			</div>
		</div>
	</div>
</div>