<script>

	import { stores, goto } from '@sapper/app';
	import permissions from 'permissions';
	import { hasMinimumPermissions } from 'checker';

	import MainPage from '../../components/pages/MainPage.svelte';
	import UsersInformationsPage from '../../components/pages/UsersInformationsPage.svelte';
	import AdministrationPage from '../../components/pages/AdministrationPage.svelte';
	
	const { session } = stores();

	let page = 'Administration',
		admin = JSON.parse($session.user)

</script>

{#if $session.user && hasMinimumPermissions(admin, permissions.ADMIN, permissions.MODERATOR)}
	<MainPage>

		<div class="container has-text-centered">
			<div class="columns is-centered">
			
				<div class="column is-3">

					<aside class="menu">
						<p class="menu-label">Admin Pannel</p>
						<ul class="menu-list">
							<li><a 
								href="/administration"
								class="{page === 'Administration' ? 'is-active' : ''}" 
								on:click|preventDefault={async () => page = 'Administration'}
							>Administration</a></li>
							<li><a 
								href="/informations"
								class="{page === 'Informations' ? 'is-active' : ''}" 
								on:click|preventDefault={async () => page = 'Informations'}
							>Users</a></li>
						</ul>
					</aside>

				</div>

				<div class="column">

					{#if page === 'Administration'}

						<AdministrationPage />

					{:else if page === 'Informations'}
						
						<UsersInformationsPage {admin} />

					{/if}

				</div>

			</div>
		</div>

	</MainPage>

{:else}

	{goto('/')}

{/if}