<script>

	import { stores } from '@sapper/app';

	const { session } = stores();

</script>

<style>
	.username {
		color: brown;
	}
</style>

<h1 class="title">Welcome Back <span class="username">{JSON.parse($session.user).username}</span></h1>

