<script>

	import Navbar from '../Navbar.svelte';
	import Hero from '../Hero.svelte';

	let clazz = '';

	export { clazz as class };

</script>

<Hero class="{clazz}">
	<div slot="hero-head">
		<Navbar />
	</div>
	<slot></slot>
</Hero>