<script>

	import { stores } from '@sapper/app';
	import { onMount } from 'svelte';
	import permissions from 'permissions';
	import { hasMinimumPermissions } from 'checker';
	import { post, get } from 'utils';

	import AddRoleDropdown from '../specific/AddRoleDropdown.svelte';

	export let admin;

	let searchValue = '',
		users;

	const { session } = stores();

	async function refreshData() {
		const usersList = await get('api/users/getUsers');
		users = Array.from(usersList.values());
	}

	async function search() {
		const usrs = document.getElementsByClassName('userInformations');
		for (let user of usrs) {
			const values = document.getElementsByTagName('td');
			let found = false;
			for (let value of values) {
				if (!value.classList.contains('SL_td')) {
					if (value.innerText.toUpperCase().indexOf(searchValue.toUpperCase()) > -1) {
						found = true;
						break;
					}
				}
			}
			if (found) {
				user.style.display = "";
			} else {
				user.style.display = "none";
			}
		}
	}

	async function removeRole(elem) {
		let element = elem.srcElement;
		if (element.tagName === 'path') element = element.parentElement;
		if (element.tagName === 'svg') element = element.parentElement;
		const roleInfo = element.getAttribute('roleInfo');
		const user = roleInfo.split(':')[0];
		const role = roleInfo.split(':')[1];
		if (confirm(`Remove the role '${role}' from ${user}?`)) {
			post('api/roles/removeRole', { user, role, apiToken: JSON.parse($session.user).apiToken })
				.then(() => refreshData())
		}
	}

	onMount(async () => {
		refreshData();
	})

</script>

<div class="section">
	<h1 class="title">Users</h1>
	<div class="field">
		<p class="control has-icons-left">
			<input class="input" on:keyup={search} type="text" placeholder="Search a user, project..." bind:value={searchValue}>
			<span class="icon is-small is-left">
				<i class="fas fa-search"></i>
			</span>
		</p>
	</div>
	<table class="table is-bordered is-striped is-hoverable is-fullwidth">
		<thead>
			<tr>
				<th>Login</th>
				<th>Name</th>
				<th>Roles</th>
				<th>Projects</th>
			</tr>
		</thead>
		<tbody>

			{#if users}

				{#each users as user}
					<tr class="userInformations">
						<td>{user.login}</td>
						<td>{user.username}</td>
						<td>
							{#each user.roles as role}
								<div class="buttons has-addons">

									{@html role.html.replace(/button/gmui, 'button is-small')}
									
									{#if hasMinimumPermissions(admin, permissions.REMOVE_ROLE, permissions.MANAGE_ROLES, permissions.ADMIN)}
										<a
											href="/deleteRole"
											on:click|preventDefault={removeRole}
											class="button is-rounded is-small"
											roleInfo="{user.login}:{role.name}"
										>
											<span class="icon is-small" roleInfo="{user.login}:{role.name}">
												<i class="fas fa-times-circle"></i>
											</span>
										</a>
									{/if}

								</div>
							{/each}

							{#if hasMinimumPermissions(admin, permissions.ADD_ROLE, permissions.MANAGE_ROLES, permissions.ADMIN)}
								<AddRoleDropdown {user} {admin} on:roleAdded={refreshData} />
							{/if}

						</td>
						<td>
							{#each user.projects as project}
								<a href="/projects/{project.url}">{project.name}</a><br>
							{/each}
						</td>
					</tr>
				{/each}
			{/if}
		</tbody>
	</table>
</div>