<script>

    import { goto, stores } from '@sapper/app';
    import MainPage from '../../components/pages/MainPage.svelte';
    
    const { session } = stores();

</script>

{#if $session.user}
    <MainPage>
        <div class="container has-text-centered">

            <h1 class="title">Hello World!</h1>
            
        </div>
    </MainPage>
{/if}