<script>

    export let active = false;

</script>

<div class="dropdown {active ? 'is-active' : ''}">
	<div class="dropdown-trigger">
		<button class="button">
			<slot name="dropdown-trigger"></slot>
		</button>
	</div>
	<div class="dropdown-menu">
		<div class="dropdown-content">
			<slot></slot>
		</div>
	</div>
</div>