<script>
    export let error;
</script>

{#if error}
    <article class="message is-danger">
		<div class="message-header">
			<p>Error</p>
		</div>
		<div class="message-body">
			<p>{error}</p>
		</div>
	</article>
{/if}