<script>
	let clazz;
	export { clazz as class };
</script>

<section class="hero {clazz}">
	<slot name="hero-head"></slot>
	<div class="hero-body">
		<slot></slot>
	</div>
	<slot name="hero-foot"></slot>
</section>