<script>

	import { goto, stores } from '@sapper/app';
	import { onMount } from 'svelte';
	import { hasMinimumPermissions } from 'checker';
	import { post } from 'utils.js';
	import permissions from 'permissions';

	const { session } = stores();
	let user;
	let active = false;

	$: user = $session.user ? JSON.parse($session.user) : null;

	async function logout() {
		post('api/users/logout', {})
			.then(() => {
				$session.user = null;
				goto('/');
			})
			.catch((error) => console.error(error))
	}

</script>

<nav class="navbar">
	<div class="navbar-brand">
		<a 
			href="#!"
			on:click|preventDefault={async () => active = !active}
			class="navbar-burger {active ? "is-active" : ""}"
		>
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
	<div class="navbar-menu {active ? "is-active" : ""}">

		<div class="navbar-start">
			<a href="/" class="navbar-item">Home</a>
		</div>

		<div class="navbar-end">
			{#if user}
				<div class="buttons has-addons">
					<div class="navbar-item">
						{#if hasMinimumPermissions(user, permissions.ADMIN, permissions.MODERATOR)}
							<a href="/admin" class="button is-info">Admin</a>
						{/if}
						<a href="/dashboard" class="button is-info">Dashboard</a>
						<a href="/logout" on:click|preventDefault={logout} class="button is-info">Logout</a>
					</div>
				</div>
			{:else}
				<div class="navbar-item">
					<a href="/login" class="button is-info">Login</a>
				</div>
			{/if}
			
		</div>

	</div>
</nav>