<script>

	import { goto, stores } from '@sapper/app';
	import { post } from 'utils';

	import MainPage from '../../components/pages/MainPage.svelte';
	import Error from '../../components/Error.svelte';

	const { session } = stores();

	let login = '', password = '', error;

	async function submit() {
		post('api/users/login', { login, password })
			.then((response) => {
				if (response.error) {
					error = response.error;
				} else {
					$session.user = JSON.stringify(response);
					goto('/');
				}
			})
	}

</script>

<MainPage>

	<Error {error} />

	<div class="container has-text-centered">
		<div class="columns is-centered">
			<div class="column is-5">
				<form>
					<label for="login" class="label">Login</label>
					<input type="text" id="login" class="input" placeholder="Login" bind:value={login} />
					<label for="password" class="label">Password</label>
					<input type="password" id="password" class="input" placeholder="Password" bind:value={password} />
					<br><br>
					<button class="button is-primary" on:click|preventDefault={submit}>Login</button>
				</form>
			</div>
		</div>
	</div>
</MainPage>